body{
  margin:0;
}

.page{
  width: 1000px;
  margin: 65px auto 0;

}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:65px auto 0;
  
}
nav ul{
  display: flex;
  list-style: none;
  gap: 48px; 
  margin:0;
  padding:0;
}

main{
  width: 1008px;
  height: 433.64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:59px;
  
}
ul, h1{
  font-family: 'Mulish', sans-serif;

}
ul li a{
  font-size: 18px;
  color: #1F1534;
  text-decoration: none;
  opacity: 0.5;
}
ul li a:hover{
  font-weight: bold;
  opacity: 1;
}
section{
  width: 489px;
  height: 332px;
  margin-right: 102px;
  margin-top:51px;

}
section h1{
  color: #000;
  font-size: 49px;
  font-family: 'Mulish',sans-serif;
  line-height: 56px;
  font-weight: normal;

  margin-top:0px;
}
section h1 span{
  color: #89C5CC;
  font-weight: bolder;
  
}
section p{
  color: #7D7987;
  font-size: 14px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  line-height: 28px;
  margin: 40px 0;
}
button{
  color: white;
  font-family: 'DM Sans', sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  padding: 14px 32px 15px 32px;
  gap: 10px;
  background-color: #69B99D;
  border: none;
  cursor:pointer;
}
button:hover{
  background-color: #51ad8c;
}
footer{
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  margin-top: 80px;

  
}
footer a{
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
#balls{
  position: fixed;
  bottom: 0;
  right: 0;
}